 <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="cordova-plugin-ocr" version="0.2.3">
        <name>OCR</name>
        <description>Cordova OCR Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,OCR</keywords>
	<!-- Js-module tag, prevents to add <script> tag for each file -->
    <js-module src="www/ocr.js" name="OCRPlugin">
        <clobbers target="window.OCRPlugin" />
    </js-module>

	<platform name="android">
          <config-file target="config.xml" parent="/*">
            <feature name="OCR">
                <param name="android-package" value="cz.zeus_solutions.cordova.ocr.OCR"/>
            </feature>
          </config-file>
      <framework src="src/android/android.gradle" custom="true" type="gradleReference" />
    
	  <source-file src="src/android/OCR.java" target-dir="src/cz/zeus_solutions/cordova/ocr" />
	  <resource-file src="src/android/android-ocr.aar" target="libs/android-ocr.aar" />
	  <resource-file src="src/android/tess-two.aar" target="libs/tess-two.aar" />
    	</platform>
    </plugin>
